.aboutPage{
text-align: center;
}
.aboutPage h2{
    margin: 40px 0;
    text-align: right;
}
.aboutPage h3{
    margin: 40px 0;
    color: darkolivegreen;
}
.aboutPage p{
    text-align: right;
}
.aboutPage img{
    margin: 30px 0;
    width: 100%;

}